Source: gnucap-python
Section: electronics
Priority: extra
Maintainer: Henrik Johansson <henrik@johome.net>
Build-Depends: debhelper (>= 7), cdbs, autotools-dev, autoconf, automake, libtool, pkg-config, python-numpy-dev, swig, libgnucap-dev, python-all-dev, python-support
Standards-Version: 3.8.1
Homepage: https://github.com/henjo/libpsf
XS-Python-Version: >=2.4

Package: gnucap-python
Section: electronics
Architecture: any
Depends: libgnucap
Description: Python extension for gnucap library
 python-gnucap is a Python extension for shared library version of 
 gnucap

Package: python-gnucap
Section: electronics
Architecture: any
XB-Python-Version: >=2.4
Depends: ${misc:Depends}, ${python:Depends}, libgnucap
Description: Python extension for gnucap library
 python-gnucap is a Python extension for shared library version of 
 gnucap
